.conclusion-container {
  height: 80vh;
  max-width: 800px;
  margin: 1rem auto;
  padding: 20px;
  background-color: #f1f9ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.conclusion-heading {
  color: #2699fb;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.conclusion-normal {
  background-color: #f7fafc;
  border: 1px solid #cfe4fc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.conclusion-chance {
  background-color: #f9f5e7;
  border: 1px solid #f9ee9b;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.conclusion-cataract {
  background-color: #f9e7e7;
  border: 1px solid #f99b9b;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.conclusion-message {
  color: #666;
  font-size: 20px;
  margin-bottom: 10px;
}

.conclusion-score {
  color: #2662fb;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.btn-try {
  padding: 10px 10px;
  color: #ffff;
  background-color: #2699fb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.btn-try:hover {
  background-color: #4eacff;
}

.btn-dowload {
  padding: 10px 10px;
  color: #ffff;
  background-color: #2699fb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.btn-dowload:hover {
  background-color: #4eacff;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  width: 59%;
  height: 5vh;
  margin: auto;
}
