li.active {
  color: blue;
  border-bottom: 2px solid blue;
  transition: 0.3ms;
}

ul li.active {
  border-bottom: 2px solid blue;
  cursor: pointer;
  transition: 0.3ms;
}

li {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3ms;
}

.btn-started:hover {
  background: #fff;
  cursor: pointer;
  color: black;
  border: 1px solid rgba(0, 131, 255, 1);
}

.btn-started {
  padding: 15px 40px;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    rgba(0, 131, 255, 1) 0%,
    rgba(16, 109, 224, 1) 58%,
    rgba(0, 84, 255, 1) 100%
  );
  border: 1px solid rgb(69, 165, 255);
  color: #fff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

